div{
    background-color: palevioletred;
    height:150px;
    width:400px;
    position: absolute;
    left:38%;
    top:40%;
    box-shadow: 0 0 10px black;
}
h1{
    text-align: center;
}
button{
    padding:10px 16px;
    border-radius: 30px;
    font-size: large;
    position: absolute;
    left:33%;
    font-weight: bold;
    background-color: rgba(102, 51, 153, 0.485);
    
}
button:hover{
    background-color: rebeccapurple;
    color:white;
          
}
.dark-mode{
    background-color: black;
    color:white
}